*
{ 
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to left, LightSlateGrey, DarkSlateGrey);
}
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to left, LightSlateGrey, DarkSlateGrey);
    padding: 0 !important;
}
.navbar-brand {
    color: black !important;
    font-weight: 600;
}
.navbar-brand img {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: black !important;
    font-weight: 600;
    float: left;
    text-align: left;
}
.fa-bars {
    color: white;
    font-size: 30px !important;
}
.navbar-toggler {
    outline: none !important;
}
#banner {
    background-image: linear-gradient(to left, LightSlateGrey, DarkSlateGrey);
    color: black;
    padding-top: 5%;
}
.promo-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn {
    width: 45px;
    margin: 20px;
}
#banner a {
    color: black;
    text-decoration: none;
}
.img-banner {
   width: 450px;
}
#Biography {
    background: LightSlateGrey;
    padding-bottom: 50px;
    padding-top: 50px;
}
.Biography-Title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 8%;
}
.img-fluid {
    height: 120px;
    width: 200px;
    border-radius: 50%;
    margin: 20px 10px;
}
#Biography ul li {
    margin: 10px 0px;
    text-align: justify;
}
#Biography ul {
    margin-left: 10px;
    text-align: justify;
}
#Projects {
    padding: 80px 0;
    background: LightSlateGrey;
}
.Projects {
    padding: 20px;
} 
.Projects h2 {
    padding: 5px;
    margin-top: 25px;
    text-transform: lowercase;
}
.title::before {
    content: '';
    background: LightSlateGrey;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(72px);
}
.title::after {
    content: '';
    background: lightslategray;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#Projects .btn-primary {
    box-shadow: LightSlateGrey;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, LightSlateGrey, DarkSlateGrey);
}
#footer {
    padding: 20px;
    width: 100%;
}
.footer-box {
    padding: 20px;
    background-color: lightslategray;
}
.footer-box img {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    margin-bottom: 20px;
}
hr {
    background-color: lightslategrey;    
}
